<div id = "usertest" v-cloak>



	<div class="container">
	  	<hr/>

	  	<div class="row">
	  		<div class="col-sm-2"></div>
	  		<div class="col-sm-8">
	  			<p>Playing the <%= cPlay+1%> of <%= totalNum%> audio</p>
	  		</div>
	  		<div class="col-sm-2"></div>
	  	</div>

		<div class="row">
	  		<div class="col-sm-2"></div>
	  		<div class="col-sm-8">
	  			<audio controls controlsList="nodownload" id="playAudio" src="/audios/<%=mID+'.mp3'%>"></audio>
	  		</div>
	  		<div class="col-sm-2"></div>
	  	</div>
	  	<% if (isTrain) { %>

	  		<div class="row">
	  			<div class="col-sm-2"></div>
	  			<div class="col-sm-8">
	  				<form action="updateUserFeedback" method="post">
					    <%for (var i = 0; i < classList.split(",").length; i++) {%>
								<input onclick="unhide()" type="radio" name="predictedClass" data-toggle="modal" data-target="#modal" value="<%= classList.split(",")[i] %>"><%= classList.split(",")[i] %><br>
						<% } %>
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						<p id = "answer">Correct answer is <%= trueClass%> </p>
				        <button id="nextButton" type="submit" onclick = "hide()" class="btn-dark btn-lg btn-block">Next</button>

				  	</form>

	  			</div>
	  			<div class="col-sm-2"></div>
	  		</div>


	  	<% } else { %>

		  	<div class="row">
		  		<div class="col-sm-2"></div>
		  		<div class="col-sm-8">
		  			<form action="updateUserFeedback" method="post">
					    <%for (var i = 0; i < classList.split(",").length; i++) {%>
								<input type="radio" name="predictedClass" value="<%= classList.split(",")[i] %>"><%= classList.split(",")[i] %><br>
						<% } %>
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				        <input id="submitButton" type="submit" class="btn-dark btn-lg btn-block"></input>


				  	</form>

		  		</div>
		  		<div class="col-sm-2"></div>
		  	</div>


	  	<% } %>








	</div>



</div>

<script>
function unhide(){
	var x = document.getElementById("answer");
	x.style.display = "block";
}

function hide(){
	var x = document.getElementById("answer");
	x.style.display = "none";
}
</script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
